### Edgar Molinares and Jake Thorson

In [71]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

questions:

Which countries have the biggest libraries?
Which countries are outliers?

In [72]:
data = pd.read_csv('data/netflix_price_in_different countries.csv')
data.head()

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
0,Argentina,4760,3154,1606,3.74,6.30,9.26
1,Austria,5640,3779,1861,9.03,14.67,20.32
2,Bolivia,4991,3155,1836,7.99,10.99,13.99
3,Bulgaria,6797,4819,1978,9.03,11.29,13.54
4,Chile,4994,3156,1838,7.07,9.91,12.74

In [73]:
#print all data 
print(data)

          Country  Total Library Size  No. of TV Shows  No. of Movies  \
0       Argentina                4760             3154           1606
1         Austria                5640             3779           1861
2         Bolivia                4991             3155           1836
3        Bulgaria                6797             4819           1978
4           Chile                4994             3156           1838
..            ...                 ...              ...            ...
60        Ireland                6486             4515           1971
61    Switzerland                5506             3654           1852
62      Australia                6114             4050           2064
63        Denmark                4558             2978           1580
64  United States                5818             3826           1992

    Cost Per Month - Basic ($)  Cost Per Month - Standard ($)  \
0                         3.74                           6.30
1                         9.03                          14.67
2                         7.99                          10.99
3                         9.03                          11.29
4                         7.07                           9.91
..                         ...                            ...
60                        9.03                          14.67
61                       12.88                          20.46
62                        7.84                          12.12
63                       12.00                          15.04
64                        8.99                          13.99

    Cost Per Month - Premium ($)
0                           9.26
1                          20.32
2                          13.99
3                          13.54
4                          12.74
..                           ...
60                         20.32
61                         26.96
62                         16.39
63                         19.60
64                         17.99

[65 rows x 7 columns]

In [56]:
data.dtypes

Country                           object
Total Library Size                 int64
No. of TV Shows                    int64
No. of Movies                      int64
Cost Per Month - Basic ($)       float64
Cost Per Month - Standard ($)    float64
Cost Per Month - Premium ($)     float64
dtype: object

In [59]:
#dropping column to make it only standard premium and basic pricing
data.drop('Cost Per Month - Standard ($)', axis=1, inplace=True)

In [60]:
data.dtypes

Country                          object
Total Library Size                int64
No. of TV Shows                   int64
No. of Movies                     int64
Cost Per Month - Basic ($)      float64
Cost Per Month - Premium ($)    float64
dtype: object

In [62]:
Q1 = np.percentile(data['Total Library Size'], 25,
                   interpolation = 'midpoint')
Q3 = np.percentile(data['Total Library Size'], 75,
                   interpolation = 'midpoint')
IQR = Q3 - Q1

In [63]:
#set max and lower values
upper = np.where(data['Total Library Size'] >= (Q3+1.5*IQR))
lower = np.where(data['Total Library Size'] <= (Q1-1.5*IQR))

In [64]:
#drop anything above upper and lower values
data.drop(upper[0], inplace = True)
data.drop(lower[0], inplace = True)

In [66]:
#quartiles, dropped 3 countries
print(data['Total Library Size'])

0     4760
1     5640
2     4991
3     6797
4     4994
      ...
60    6486
61    5506
62    6114
63    4558
64    5818
Name: Total Library Size, Length: 62, dtype: int64

In [69]:
#creating new columns/dataframe
newDataframe = pd.DataFrame(data, columns = ['Country', 'Total Library Size'])

In [70]:
print(newDataframe)

          Country  Total Library Size
0       Argentina                4760
1         Austria                5640
2         Bolivia                4991
3        Bulgaria                6797
4           Chile                4994
..            ...                 ...
60        Ireland                6486
61    Switzerland                5506
62      Australia                6114
63        Denmark                4558
64  United States                5818

[62 rows x 2 columns]